@page
@model IndexModel
@{
    ViewData["Title"] = "Sergio Raya";
}

<div class="text-center">
    <h1 class="display-4">Sergio Raya</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

